
#headerArea
{
  width: 900px;
  height: 75px;
  background:url("header.png") top center no-repeat;
  background-size: 300px;
  background-color: #f9f9f9;
  
}


#sideArea
{
  width: 100px;
  float: left;
  padding: 25px;
}

#textArea
{ display: inline;
  width: 700px;
  float: left;
  min-height: 700px;
  padding: 25px;
  
}

#footerArea
{
  width: 900px;
  height: 40px;
  background-color: #f9f9f9;
  background-size: 900px;
  position: relative;
  margin-left: 450px;
}

.clear
{
  clear: both;
}

body
{
  font-family: 'Lucida Grande', 'Lucida Sans Regular', 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}