
#headerArea
{
  width: 1000px;
  height: 100px;
  background:url("header.png") top center no-repeat;
  background-size: 300px;
  background-color: #f9f9f9;
  color:rgba(134,2, 72, 1);
  
}


#sideArea
{ display: inline;
  width: 10px;
  float: left;
  padding: 25px;
  line-height: 50px;
  background-color: rgba(134,2, 72, 1);
  min-height: 700px;
  color: #fff;
}

#textArea
{ display: inline;
  width: 700px;
  float: left;
  min-height: 700px;
  padding: 25px;
  
}

#footerArea
{
  width: 1000px;
  height: 40px;
  background-color: #E39A5F;
  background-size: 900px;
  position: relative;

}

.clear
{
  clear: both;
}

body
{
  font-family: 'Lucida Grande', 'Lucida Sans Regular', 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo
{
  position: relative;
  width: 320px;
  float: right;
  margin-top: 5px;
  margin-right: 50px;
}

#signin
{
  position:relative;
  float: right;
  margin: 5px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: #000;
  border-radius: 10px;
}

#course
{
  position: relative;
  float: left;
  margin: 25px;
  margin-bottom: 50px;
}

#copy
{
  position:relative;
  float: left;
  margin-left: 250px;
  padding: 10px;
}